<div class="container mt-3">
  <h1><%= @task.title %></h1>
<div class="shadow-sm p-3 mb-3 mt-4 rounded bg-info bg-opacity-50">
  <p><%= @task.details %></p>
</div>
<div class="shadow-sm p-3 mb-3 bg-body rounded">
  <p>Completed: <%= @task.completed%></p>
</div>
<div class="shadow-sm p-3 mb-3 bg-body rounded">
  <p>Created: <%= @task.created_at %></p>
</div>
<div class="shadow-sm p-3 mb-3 bg-body rounded">
  <p>Updated: <%= @task.updated_at %></p>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to tasks_path, class: "btn btn-primary" do %>
    <i class="fas fa-undo-alt"></i> back to list
  <% end %>
  <%= link_to edit_task_path, class: "btn btn-secondary" do %>
    <i class="far fa-edit"></i> edit
  <% end %>
</div>
</div>
